@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    background-color:rgb(255, 33, 155);
    color: #263138;
    border-radius: 5px;
}
  
.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

h1{
  font-size: 50px;
  color: #263138;
  text-align: center;
}

.colunas{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #263138;
  background-size: cover;
  width: 400px;
  border-radius: 10px;
}

.tarefa {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
  
